/* Font face for dialogue text */
@font-face {
  font-family: 'dragalialosten';
  src: url('dragalialosten.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'dragalialostja';
  src: url('dragalialostjp.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'dragalialostzh-Hant';
  src: url('dragalialostzh_tw.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'dragalialostzh-Hans';
  src: url('dragalialostzh_cn.ttf');
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

#toTop {
  display: none;
  position: fixed;
  width: 40px;
  height: 40px;
  background-color: #212529;
  border-radius: 50%;
  right: 20px;
  bottom: 15px;
  text-align: center;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  line-height: 38px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23eee' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 9l3 -3 3 3'/%3e%3c/svg%3e");
}

body {
  background-color: #eee;
  color: #434343;
  padding: 0 60px;
  margin: 10px;
  border: 4px solid #434343;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, "PingFang TC", "黑體-繁", "Heiti TC",
    "蘋果儷中黑", "Apple LiGothic Medium", "微軟正黑體", "Microsoft JhengHei", sans-serif;
}

h1 {
  font-size: 1.75em;
  padding: 20px 0;
  text-transform: uppercase;
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, "PingFang TC", "黑體-繁", "Heiti TC",
    "蘋果儷中黑", "Apple LiGothic Medium", "微軟正黑體", "Microsoft JhengHei", sans-serif;
}

.tab h2 {
  font-size: 1.2em;
  margin: 0;
  color: white;
}

#preview {
  position: fixed;
  z-index: 99;
}

canvas {
  background-image: url("images/loading.gif");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 25%;
  background-color: black;
  margin: 15px 0;
}

section {
  margin-left: 325px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Tabs */

.tab-bar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tab-bar li {
  padding: 0.5em 0.75em;
  margin: 0 4px 0 0;
  font-size: 1em;
  border: none;
  border-radius: 5px 5px 0 0;
  background-color: rgb(27, 79, 121);
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, "PingFang TC", "黑體-繁", "Heiti TC",
    "蘋果儷中黑", "Apple LiGothic Medium", "微軟正黑體", "Microsoft JhengHei", sans-serif;
  color: white;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

.tab-bar li:hover {
  background-color: rgb(118, 89, 245);
}

.tab-bar li.active {
  background-color: rgb(41, 163, 126);
}

.tab-bar li.dragging {
  background-color: rgb(84, 104, 98);
}

.tab {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0px;
  background-color: rgb(41, 163, 126);
  display: none;
}

.tab.active {
  display: flex;
}

.tab label {
  color: white;
}

.tab img {
  max-height: 250px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.tab > div {
  margin: 0 1em;
}

/* Portrait Picker */
#portraitPanel, #backgroundPanel {
  background-color: #1a8c6a;
  color: white;
}

#portraitPanel, #backgroundPanel {
  background-color: #d7d7d7;
  color: #434343;
}

#portraitPanel, #backgroundPanel {
  padding: 20px;
  border-radius: 0 0 5px 5px;
}

#portraitPanel hr, #backgroundPanel hr {
  border: 1px solid #434343;
}

#portraitPanel a, #backgroundPanel a {
  color: #558df9;
}

#portraitPanel a:hover, #backgroundPanel a:hover {
  color: #6e9dfa;
}

#backgroundPanel img, #portraitPanel img {
  width: 75px;
  height: 75px;
  margin: 2px;
  display: block;
  cursor: pointer;
  background-color: #bbbbbb;
  box-sizing: border-box;
  border: 3px solid transparent;
}

#backgroundPanel img:hover, #portraitPanel img:hover {
  border: 3px solid rgb(118, 89, 245);
}

.bg-container, #facialExpression, #mouthExpression {
  display: flex;
  flex-wrap: wrap;
  max-width: 474px;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* Input settings */

.settings {
  margin: 0 10px;
}

.settings label {
  display: block;
}

.settings input ~ label {
  display: inline;
  margin-right: 1rem;
}

.settings input[type=number] {
  width: 4em;
  padding: 0.25rem;
  margin-right: 0.5rem;
}

input {
  font-family: 'Lato', Arial, sans-serif;
}

.hidden {
  display: none !important;
}

/* Buttons */

.button {
  display: inline-block;
  margin: .75rem 0;
  font-size: 1em;
  padding: 0.5em;
  background-color: rgb(27, 79, 121);
  color: white;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, "PingFang TC", "黑體-繁", "Heiti TC", "蘋果儷中黑", "Apple LiGothic Medium", "微軟正黑體", "Microsoft JhengHei", sans-serif;
}

.button:hover {
  background-color: rgb(118, 89, 245);
}

.button.selected {
  background-color: rgb(147, 184, 255);
}

.button.selected:hover {
  background-color: rgb(168, 198, 255);
}

.button.delete {
  background-color: rgb(233, 64, 64);
}

.button.delete:hover {
  background-color: rgb(255, 42, 35);
}

.input-group {
  display: flex;
  align-items: center;
}

input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

input[type=range]:hover {
  opacity: 1;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: rgb(100, 100, 100);
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
  border: none;
  box-shadow: none;
}

input[type=range]::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: rgb(100, 100, 100);
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
  border: none;
  box-shadow: none;
}

.tab input[type=range]::-webkit-slider-thumb {
  background: #eee;
}

.tab input[type=range]::-moz-range-thumb {
  background: #eee;
}

input[type=range]:focus::-moz-range-thumb {
  box-shadow: 0 0 0 1px rgb(0, 78, 88),0 0 0 .25rem rgba(13, 237, 253, 0.647);
}

input[type=number], input[type=text], textarea, input[type=file] {
  display: block;
  width: 100%;
  padding: .375rem;
  font-size: 1rem;
  line-height: 1.2;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, "PingFang TC", "黑體-繁", "Heiti TC", "蘋果儷中黑", "Apple LiGothic Medium", "微軟正黑體", "Microsoft JhengHei", sans-serif;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  box-sizing: border-box;
}

input[type=number]:focus, input[type=text]:focus, textarea:focus, select:focus, .button:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 1px rgb(0, 78, 88),0 0 0 .25rem rgba(13, 237, 253, 0.647);
}

input[type=file]::file-selector-button {
  padding: .375rem .75rem;
  margin: -.375rem -.75rem;
  -webkit-margin-end: .75rem;
  margin-inline-end: .75rem;
  color: #212529;
  background-color: #e9ecef;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-inline-end-width: 1px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

::file-selector-button {
  font: inherit;
}

input[type=file]:not(:disabled):not([readonly]) {
  cursor: pointer;
}

input[type=file]:hover:not(:disabled):not([readonly])::file-selector-button {
  background-color: #dde0e3;
}

input[type=file] {
  overflow: hidden;
  padding: .25rem .5rem;
  font-size: .875rem;
}

select {
  display: block;
  width: 100%;
  padding: .375rem 2.25rem .375rem .75rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
  padding-left: .5rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.2;
  color: #212529;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

select {
  word-wrap: normal;
}

textarea {
  resize: vertical;
}

label {
  margin: 10px 0;
}

footer {
  margin: 20px 0;
  text-align: center;
}

ul {
  padding-left: 20px;
}

#deletePrompt {
  position: fixed;
  background-color: #4343437c;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 99;
}

#deletePrompt div {
  margin-top: 20vh;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  width: 25%;
  padding: 2%;
  display: flex;
  flex-direction: column;
}

#portraitViewer {
  height: 700px;
  width: 100%;
  max-width: 700px;
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {

  #preview {
    position: initial;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }

  section {
    margin-left: 0;
  }

  body {
    padding: 0 5px;
  }

  h1 {
    text-align: center;
  }

  .settings input[type=radio] ~ label {
    margin-right: initial;
  }

  #toTop {
    display: block;
  }

  #deletePrompt div {
    width: 60%;
    padding: 8%;
  }
}
